[Unit]
Description=Prometheus Alert Manager
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Restart=on-failure
ExecStart=/usr/sbin/alertmanager --config.file=/etc/prometheus/alertmanager.yml --storage.path=/var/lib/prometheus/alertmanager --web.external-url=<%= @external_url %> --log.level=warn
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
