global:
  smtp_smarthost: 'localhost:25'
  smtp_from: 'prometheus@home.taiku.cz'
  smtp_require_tls: false

route:
  # The labels by which incoming alerts are grouped together. For example,
  # multiple alerts coming in for cluster=A and alertname=LatencyHigh would
  # be batched into a single group.
  group_by: ['alertname', 'job']

  # When a new group of alerts is created by an incoming alert, wait at
  # least 'group_wait' to send the initial notification.
  # This way ensures that you get multiple alerts for the same group that start
  # firing shortly after another are batched together on the first
  # notification.
  group_wait: 30s

  # When the first notification was sent, wait 'group_interval' to send a batch
  # of new alerts that started firing for that group.
  group_interval: 5m

  # If an alert has successfully been sent, wait 'repeat_interval' to
  # resend them.
  repeat_interval: 3h

  # A default receiver
  receiver: taiku

  # All the above attributes are inherited by all child routes and can
  # overwritten on each.

  # The child route trees.
  routes:
    - repeat_interval: 30m
      receiver: DMS
      matchers:
        - alertname = PrometheusAlertmanagerE2eDeadManSwitch

# Inhibition rules allow to mute a set of alerts given that another alert is
# firing.
# We use this to mute any warning-level notifications if the same alert is
# already critical.
inhibit_rules:
  - source_matchers:
      - severity = critical
    target_matchers:
      - severity = warning
    # Apply inhibition if the alertname is the same.
    equal: ['alertname', 'job']
  # When blackbox probe to the ISP router is firing, inhibit all ICMP and HTTP probes to internet targets
  - source_matchers:
      - alertname =~ "BlackboxProbeFailed|BlackboxProbeSlowPing"
      - instance = "10.230.7.161"
    target_matchers:
      - job =~ "blackbox-(ping|http)"
      - instance =~ "1.1.1.1|9.9.9.9|https://(bw\.taiku\.cz|taiku\.cz|google\.cz|google\.com|proton\.me|seznam\.cz)"
    equal: []

templates:
  - '/etc/prometheus/templates/*.tmpl'

receivers:
  - name: 'taiku'
    telegram_configs:
      - api_url: 'https://api.telegram.org'
        bot_token: '<%= @telegram_bot_token %>'
        chat_id: 95594062
        send_resolved: true
        parse_mode: 'HTML'
        message: '{{ template "telegram.html.message" . }}'
  - name: 'DMS'
    webhook_configs:
      - url: https://nosnch.in/ea3ff83290

