[Unit]
Description=Prometheus Server
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Restart=on-failure
ExecStart=/usr/sbin/prometheus --config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/var/lib/prometheus/data --storage.tsdb.retention.time=90d --web.external-url=<%= @external_url %> --web.enable-admin-api --log.level=warn
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
